// Common styles for annexes
//


// Backgrounds
//
// Set specifics backgrounds of each introduction panel
// by using target classes on introduction container
// Ungoogle your life
.introduction
	// Set backgrounds
	// &.homepage.fr
	// 	background #fff url(../images/bkg-home-fr@2x.png) no-repeat 50% 100% / cover

	// 	+bp-max(lg)
	// 		background #fff url(../images/bkg-home-fr@2x.png) no-repeat 80% 100%
	// 		background-size 135vh

	// &.homepage
	// 	background #fff url(../images/bkg-home-en@2x.png) no-repeat 50% 100% / cover

	// 	+bp-max(lg)
	// 		background #fff url(../images/bkg-home-en@2x.png) no-repeat 80% 100%
	// 		background-size 135vh

	&.about
		background #000 url(../images/bkg-flying-cloud.jpg) no-repeat 50% 0 / cover
		opacity 1

	&.faq
		background #aa4033 url(../images/bkg-faq.jpg) no-repeat 50% 100% / cover

	&.community
		background #fff url(../images/bkg-community.jpg) no-repeat 50% 100% / cover

	&.comparison
		background #cad2d8 url(../images/bkg-comparison@2x.jpg) no-repeat 50% 100% / cover

	&.apps
		background #D0C2A7 url(../images/bkg-apps.jpg) no-repeat 50% 100% / cover

	&.support
		background #297EF2

	&.privacy
		background #F3F3F3 url(../images/bkg-privacy@2x.png) no-repeat 50% 100% / cover

	&.featuresPage
		background radial-gradient(circle at 50% 100%, #297ef1, rgba(41, 126, 241, 0.84) 10%, rgba(41, 126, 241, 0)) no-repeat center center / contain, url(../images/bkg-features.png) repeat 50% 100%
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
			background radial-gradient(circle at 50% 100%, #297ef1, rgba(41, 126, 241, 0.84) 10%, rgba(41, 126, 241, 0)) no-repeat center center / contain, url(../images/bkg-features@2x.png) repeat 50% 100% / 521px 521px

	&.press
		background #F3F3F3 url(../images/bkg-press@2x.jpg) no-repeat 50% 100% / cover
		background-position top

	&._404
		background #fff url(../images/bkg-404@2x.jpg) no-repeat 50% 0% / cover

body.is-annexe
	.introduction.legal
		padding-top 10vh
		height 30vh

	.introduction.tryCozy
		padding-top 20vh
		min-height: "calc(45vh + %s)" % $header-height
		height: auto

	.introduction.partners
		margin-bottom: 0

	.introduction.support
		align-items center
		padding-top 0
		height 439px

.grey-background
	background-color $clr-light

// Annexe page specifics styles
//

// Community
//
.communityContent-item
	margin-bottom $spacer
	text-align center

.communityContent-item-titleIcon
	margin-bottom ($spacer / 2)

.communityContent-item-aside
	text-align center
	+bp-min(lg)
		p
			display inline-block
			margin-left $spacer-x


// About
//

// Introduction
.contrast h1.introduction-title
	text-shadow: 2px 2px rgba(17, 18, 19, 0.69)

.contrast p.introduction-content-alt
	text-shadow: 1px 1px rgba(17, 18, 19, 1)

// Our vision
.ourVision
	margin-bottom $spacer


// Cozy team
.cozyTeam-content
	margin-bottom $spacer

	+bp-min(lg)
		text-align center

.cozyTeam-job
	margin 3rem auto 4rem
	max-width 60%
	border 1px solid $clr-lightgrey
	padding 2rem

.ourMembers
	background-color darken($clr-light, 2%)

.ourMembersList
	@extend .list-unstyled
	margin-top -($spacer-x)
	margin-bottom $spacer
	text-align center

.ourMembersList-item
	position relative
	display inline-block
	margin ($spacer-x * 2)
	max-width 10rem
	+bp-min(lg)
		margin $spacer-x ($spacer / 5) $spacer-x ($spacer / 5)
		transform scale(1)
		transition all $transition-duration $transition-bounce
		+hover-state()
			transform scale(0.95)

			.ourMembersList-item-member
				opacity 1

	&.rounded
		.ourMembersList-item-pic
			border-radius 50%
			overflow hidden

// Specifics size for smaller screens on community page
+bp-max(md)
	.ourMembers.community
		.ourMembersList-item
			max-width 75px

.ourMembersList-item-pic
	margin-bottom $spacer-x
	+bp-min(lg)
		margin-bottom 0

.ourMembersList-item-member
	font-family $ff-emphasis
	text-transform uppercase
	color $clr-darker
	+bp-min(lg)
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		z-index 2
		color $clr-lighter
		background-color rgba(65,183,241, .7)
		border-radius 50%
		opacity 0
		transition opacity $transition-duration $transition-easing

.ourMembersList-item-member-inner
	+bp-min(lg)
		position absolute
		top 50%
		padding-right .625rem // 10px
		padding-left .625rem
		width 100%
		text-align center
		transform translateY(-50%)

.ourMembersList-item-member-job
	display block
	font-family $ff-common
	font-size $fs-sm
	text-transform none
	&::before
		content ""
		display block
		margin $spacer-x auto
		width ($spacer / 2)
		height 1px
		background-color $clr-darker
	+bp-min(lg)
		&::before
			background-color $clr-lighter


// Business model
.businessModel
	margin-bottom $spacer

	.no-margin
		margin-bottom 0

	.video
		margin-bottom ($spacer)

.businessModel-hangs
	margin-bottom ($spacer * 1.5)
	font-family $ff-emphasis
	font-size $fs-xl
	line-height $lh-sm
	font-weight $fw-bold
	font-style normal
	color darken(#06608D, 20%)
	text-align center

.businessModel-providers img
	width 4em
	height 4em
	margin-right 0.125em


// Timeline
.timeline
	@extend .list-unstyled
	position relative
	margin-bottom ($spacer * 1.5)
	padding-bottom ($spacer * 1.5)
	&::before
		content ""
		position absolute
		top 0
		bottom 0
		left 0
		margin-left -.063rem
		width .125rem
		background-color lighten($clr-base, 20%)
	&::after
		content ""
		position absolute
		bottom 0
		left 0
		margin-left -7px
		width 14px
		height 14px
		background $body-bkg url(../images/direction-arrow.svg) no-repeat 50% 50%
		transform rotate(90deg)
	+bp-min(lg)
		&::before
			left 50%
		&::after
			left 50%
			margin-left -7px



.timeline-item
	position relative
	margin-bottom $spacer

	&:first-child
		margin-left -5px
		margin-bottom $spacer
		padding-left 0
	&:last-child
		margin-bottom 0

	+bp-min(lg)
		&:nth-child(odd)
			padding-right 55%
			text-align right
		&:nth-child(even)
			padding-left 55%
		&:first-child
			padding 0
			text-align center
			margin-bottom $spacer
		&:last-child
			margin-bottom 0


.timeline-item-bullet
	position absolute
	top 50%
	left 0
	z-index 3
	transform translate(-50%, -50%)
	width 2.813rem  // 45px
	height 2.813rem
	text-align center
	line-height (2.813rem - .313rem)
	background-color $body-bkg
	border .125rem solid lighten($clr-base, 20%)
	border-radius 50%
	+bp-min(lg)
		left 50%


.timeline-item-container
	position relative
	z-index 2
	display inline-block
	padding $spacer-y
	text-align left
	background-color darken($clr-light, 5%)
	border-radius $border-radius
	+bp-min(lg)
		max-width 80%

	&.highlighted
		color: $clr-lighter
		background-color $clr-primary

		.timeline-item-date
			color darken($clr-primary, 30%)
		.timeline-item-content
			color $clr-lighter

	&.withCozyLogo
		padding-left (1.875rem + 3.375rem + 1.25rem) // default padding + logo size + margin
		background-image url(../images/cozy-smaller.svg);
		background-repeat no-repeat
		background-position 1.875rem 50%

	p:last-child
		margin-bottom 0

.timeline-item-date
	margin-bottom ($spacer-x * .5)
	text-align left
	font-family $ff-common
	font-size $fs-base
	font-weight $fw-bold
	color $clr-base
	text-transform none

.timeline-item-content
	color $clr-darker

// Try it page

.offers-title
	margin-bottom 0.2em

.offers-description
	margin-bottom 3rem


// Comparison
//

.comparisonContent-item
	margin ($spacer * 1.5) 0
	text-align center

// App.js

.app
		margin-bottom 4.5rem
		display flex
		align-items center

		+bp-max(md)
			flex-direction column
			margin-left 1.5rem
			margin-right 1.5rem
			text-align center

		img
			width 7.5rem
			padding 1.5rem
			margin-right 2rem
			margin-left 2rem
			border-radius 50%
			box-shadow 0 2px 6px rgba(0,0,0,0.16)

			+bp-max(md)
				width 5rem
				padding .875rem
				margin-right 1rem
				margin-left 1rem

		.app-img
			flex none

		h3.app-title
			text-align left
			margin-bottom 0
			text-transform none

			+bp-max(md)
				margin-top .5rem
				font-size (20/16)em
				text-align center

		p.app-type
			font-style italic
			margin-bottom 0.5rem

			+bp-max(md)
				font-size $fs-sm
				text-align center

		p:last-child
			margin 0

// Download pages
.downloadContent .panel
	padding-top 0

	.title
		margin-top 16px
		margin-bottom 32px

	.first
		+bp-min(lg)
			border-right 1px solid #1D212A1F
			padding-right 32px

	.second
		+bp-min(lg)
			padding-left 12px

	table
		font-size 16px

		a
			color initial
			&:hover
				color initial

		th
			height 80px
			text-transform none
			font-size 20px

			img
				margin-right 8px

		tbody
			height 100px

			td
				vertical-align middle

// Pricing page
.cozy-logo
	box-sizing border-box
	border-radius 50%
	margin 0 auto 1rem
	width 6rem
	height 6rem
	padding 1rem
	background-color $clr-primary

	svg
		fill $clr-lighter
		width 100%
		height 100%

.pricing
	padding-top 3rem
	color $clr-darkgrey
	+bp-max(lg)
		padding-top 3rem

.pricing-title
	margin-bottom .5rem

.pricing-desc
	font-size $fs-lg
	color $clr-darkgrey

.pricing-box
	margin 3rem 0 3rem
	padding 2rem
	border .0625rem solid $clr-lightgrey
	+bp-max(md-hg)
		padding 1.5rem

	.h3
		margin-bottom 0

.pricing-box--narrow
	padding 2rem 3rem
	margin-bottom 0

	& + &
		margin 0 0 4rem
		border-top 0

h3.h4.align-left
	text-align left

// CSS to harmonize design between bootstrap and existing
.pricing-bootstrap
	.small
		font-size .875rem

	h5
		font-size 1.125rem
		line-height 1.313
		margin-bottom: 0.5rem;

	.btn
		font-weight: 700;
		line-height: 1rem;
		padding: 0.688rem 1rem;

	.btn-primary
		color: var(--primaryTextContrastColor);
		background-color: var(--primaryColor);
		border-color: transparent;

	.btn-outline-info
		color: var(--primaryTextColor);
		border-color: var(--btn-secondary-border-color);

.pricing-header
	padding-bottom 2rem
	+bp-min(md-lg)
		padding-bottom 259px

	&>h1
		max-width 600px

.pricing-offer
	+bp-min(md-lg)
		margin-left 1rem
		margin-right 1rem
		top -227px
		margin-bottom -227px

	.offer-table
		border-style none !important
		+bp-min(md-lg)
			border-radius 1rem
			border-style solid !important

	.offer-table-header
		position sticky
		border-top-style solid !important
		border-bottom-style solid !important
		top 64px
		+bp-min(md-lg)
			position static
			border-radius 1rem 1rem 0 0
			height 227px
			border-style none !important

		.offer-table-header-title
			font-size 14px
			line-height 19px
			+bp-min(md-lg)
				font-size 18px
				line-height 23px

		.offer-table-header-price
			font-size 32px
			line-height 37px
			letter-spacing -0.4px
			+bp-min(md-lg)
				font-size 48px
				line-height 52px
				letter-spacing -0.8px

		.offer-table-header-cents
			font-size 16px
			line-height 12px
			+bp-min(md-lg)
				font-size 23px
				line-height 22px

		.offer-table-header-month
			font-size 12px
			line-height 10px
			+bp-min(md-lg)
				font-size 18px
				line-height 16px

		.offer-table-header-cta
			padding 0.5rem 0.75rem
			font-size .8125rem
			+bp-min(md-lg)
				padding 0.688rem 1rem
				font-size .875rem


	.offer-item-title
		font-weight 700
		font-size 16px
		line-height 21px
		+bp-min(md-lg)
			font-weight 400
			font-size 14px
			line-height 19px

	.offer-pro
		border-radius 1rem

.pricing-pro
	margin-bottom 4rem
	padding 2rem
	background-color $clr-light

.pricing-faq
	margin 3rem 1rem
	+bp-min(md-lg)
		margin 6rem 1rem

	&>h2
		margin-bottom 1.5rem
		+bp-min(md-lg)
			margin-bottom 3rem

.pricing-footnote-ref
	color var(--primaryTextColor)

//Press
.press
	color $clr-darkgrey

	section
		margin-bottom 3.75rem

	.introduction-last
		position absolute
		bottom 0
		right 0
		margin 0
		padding 0 .8rem
		background-color rgba(255, 255, 255,.8)
		line-height 2
		font-size .875rem

.press-intro
	margin 0 auto
	+bp-min(lg)
		padding-right 3rem

.press-id
	+bp-min(lg)
		padding-left 2rem
		border-left 1px solid $clr-lightgrey

.contact-title
	line-height 2

.press-releases, .press-details
	list-style none

	a:after
		content ' >'

.press-manifesto
	counter-reset item
	list-style none

	li
		position relative
		margin-bottom 1rem

		&:before
			content counter(item)". "
			counter-increment item
			position absolute
			left -2rem
			top -.35rem
			font-size 1.375rem
			font-weight bold

.press-carousel-wrapper
	padding 2rem 0

h3.press-details
	margin-top 3rem

.press-cozyteam
	img
		max-width 100%

		&.press-lg-img
			max-width 35.625rem

	.h5
		font-weight bold

	.btn
		margin 1.875rem 0 3rem

.kit-preview
	box-shadow 0 0 4px 2px rgba(0, 0, 0, .23)

// Privacy

.privacyContent

	.container
		max-width 800px

	section
		margin-bottom $spacer-y

	h2, h3
		text-align left

	h2
		font-size $fs-h3
		padding-left $spacer-y + $fs-xs - $border-width
		margin-bottom $spacer-y
		position relative

		&:before
			content ''
			position absolute
			left - $fs-root
			top -2px
			width 32px
			height 32px
			background-size contain
			+bp-max(md)
				left -6px

	.ourPrivacyVisionTitle:before
		background-image url('../images/privacy/our-privacy-vision.svg')
	.dataWeCollectTitle:before
		background-image url('../images/privacy/data-we-collect.svg')
	.howUseDataTitle:before
		background-image url('../images/privacy/how-use-data.svg')
	.dataAccessTitle:before
		background-image url('../images/privacy/data-access.svg')
	.cookiesTitle:before
		background-image url('../images/privacy/cookies.svg')
	.dataSafetyTitle:before
		background-image url('../images/privacy/data-safety.svg')
	.inspireGAFAsTitle:before
		background-image url('../images/privacy/inspire-gafas.svg')
	.downloadPoliciesTitle:before
		background-image url('../images/privacy/download-policies.svg')

	h3
		font-size $fs-h4
		padding-left $spacer-y
		margin-bottom $spacer-y

	p, img
		padding-left $spacer-y

	img
		width	100%
		max-width 450px

	ul
		padding-left $spacer-y + $spacer-x
	li
		padding-bottom $spacer-y

.howUseData h3
	margin-bottom $spacer-z

.responsive-table
	overflow-x auto

table
	font-size $fs-sm
	margin-bottom $spacer-y

table, thead, tr
	border 1px solid $clr-lightgrey

thead
	background $clr-light
	text-transform uppercase
	text-align left
	font-size 12px
	color $clr-darkgrey

th, td
	padding 16px
	max-width 208px

td
	vertical-align top

	ul
		padding-left 16px

	li
		padding-bottom 0 !important

q
	font-size $fs-xl
	font-style italic
	display block
	quotes '“' '”' '‘' '’'

	q:before
	  content open-quote

	q:after
		content close-quote

.quote
	margin $spacer-y 0 $spacer-y $spacer-y
	padding 4px 0 4px 24px
	border-left 5px solid $clr-lightgrey

	p
		padding 0
		margin 0

		&:before
			content '— '

.releases-header
	height 275px

	h1
		max-width 750px

.releases-iframe
	height calc(100vh - (3.75rem + 275px))
	+bp-min(md-lg)
		height calc(100vh - (8rem + 275px))

.releases-background
	background linear-gradient(#f8fafb, #f8fafb) top, linear-gradient(#f2f5f7, #f2f5f7) bottom
	background-size 100% 49px, 100% 100%
	background-repeat no-repeat
