// Common styles for annexes
//


// Backgrounds
//
// Set specifics backgrounds of each introduction panel
// by using target classes on introduction container
// Ungoogle your life
.introduction
  // Give space between introduction and content
  &.breath
    margin-bottom $spacer

  // Set backgrounds
  &.faq
    background url(../images/bkg-faq.jpg) no-repeat 50% 100% / cover