// Button base styles
//
button
  padding: 0
  transition: $transition-property $transition-duration $transition-easing

.btn
  display: inline-block
  text-align: center
  vertical-align: middle
  font-family: $btn-ff
  text-transform: uppercase
  border: $border-width solid transparent
  white-space: nowrap
  touch-action: manipulation
  cursor: pointer
  user-select: none
  button-size($btn-pdg-y, $btn-pdg-x, $btn-fs, $lh, $btn-border-radius)

  & + .btn
    margin-left $spacer-x


// Button colors
//
.btn-primary
  button-colors($btn-primary-clr, $btn-primary-bkg, $btn-primary-border)


// Button Sizes
//
.btn-sm
  // line-height: ensure proper height of button next to small input
  button-size($btn-pdg-y-sm, $btn-pdg-x-sm, $btn-fs, $lh-sm, $btn-border-radius-sm)

.btn-lg
  // line-height: ensure even-numbered height of button next to large input
  button-size($btn-pdg-y-lg, $btn-pdg-x-lg, $btn-fs, $lh-lg, $btn-border-radius-lg)

.btn-action
    font-size 1.2rem
    font-weight bold


// Link buttons
//
// Make a button look and behave like a link
.btn-link
  font-weight: normal
  color: $link-clr
  border-radius: 0
  +hover-state()
    color: $link-hover-clr
    text-decoration: $link-hover-decoration
    background-color: transparent


// Block button
//
.btn-block
  display: block
  width: 100%

// Vertically space out multiple block buttons
.btn-block + .btn-block
  margin-top: 1rem


// Button animation
.btn-bounce
  transform scale(1)
  transition transform $transition-duration cubic-bezier(0.280, 1.650, 0.650, 1.650)
  +hover-state()
    transform scale(1.1)
