// Common styles for common pages
//

// Specific introduction backgrounds
//

.introduction

  &.ungoogleYourLife
    background url(../images/bkg-ungoogleyourlife@2x.jpg) no-repeat 50% 100%
    background-size cover

.introduction-content
  text-align center


// Hangs list
//
// 2 columns list with icons for presentation hangs on a list
.hangs
  padding $spacer 0 0

.hangsList
  @extend .clearfix
  @extend .list-unstyled
  font-family $ff-emphasis

.hangsList-item
  float: left
  position relative
  margin-bottom ($spacer * 1.5)
  padding-left 50px
  width 50%

  .hangsList-item-icon
    position absolute
    top 5px
    left 0

  &:nth-child(even)
    padding-left 100px

    .hangsList-item-icon
      left 50px

  &:nth-child(odd)
    padding-right 50px


// Features list
//
// interactive features list
.featuresList
  @extend .list-unstyled
  font-family $ff-emphasis

.featuresList-item
  margin $spacer-y

.features-screenshot
  box-shadow 0px 0px 35px 0px rgba(0,0,0, 0.3)