// Common styles for landing pages
//


// Colorschemes
//
// Set specifics colors of each landing pages
// by using target classes on main container
// Ungoogle your life
.ungoogleYourLife
  .introduction
    color $clr-lighter
    background #000 url(../images/bkg-ungoogleyourlife@2x.jpg) no-repeat 50% 100% / cover
  .hangs
    color $clr-lighter
    background-color #000
  .features
    background-color #7588E0
  .featuresList-item-link
    +hover-state()
      .featuresList-item-link-icon
        fill: #7588E0
  .landingCTA
    background-color #F1F4FF
    .panel-lead
      color: $clr-primary

// Connect my data
.connectMyData
  .introduction
    color $clr-lighter
    background #00011D url(../images/bkg-connectmydata@2x.jpg) no-repeat 50% 100% / cover
  .hangs
    color $clr-lighter
    background-color #00011D
  .features
    background-color #5AA885
  .featuresList-item-link
    +hover-state()
      .featuresList-item-link-icon
      .featuresList-item-link-icon *
        fill: #5AA885 !important
  .landingCTA
    background-color #5AA885 + 90%

  dd
    margin-bottom 1.25rem

// Self hosting
.selfHosting
  .introduction
    color $clr-darker
    background url(../images/bkg-selfhosting.jpg) no-repeat 50% 100% / cover
  .hangs
    color $clr-darker
    background-color #F3F3F3
  .features
    background-color #0367AC
  .featuresList-item-link
    +hover-state()
      .featuresList-item-link-icon
      .featuresList-item-link-icon *
        fill: #0367AC !important
  .landingCTA
    background-color #0367AC + 90%

// Sync files and photos
.syncFiles
  .introduction
    color $clr-lighter
    background #171E22 url(../images/bkg-syncfiles@2x.jpg) no-repeat 50% 100% / cover
  .introduction.introduction-sync
    padding-top 24vh
  .hangs
    color $clr-lighter
    background-color #171E22
  .features
    background-color #FA915D
  .featuresList-item-link
    +hover-state()
      .featuresList-item-link-icon
        fill: #FA915D
  .landingCTA
    background-color #FEF2EB
    .panel-lead
      color: #FA915D


// Computer science student
.student
  .introduction
    padding-top "calc(53vh + %s)" % $header-height !important
    color $clr-lighter
    background #F3F3F3 url(../images/bkg-student@2x.jpg) no-repeat 50% 100% / cover
    color #3D3D3D

  .introduction-title
    color #3D3D3D

  .hangs
    color $clr-darker
    background-color #F3F3F3
  .features
    background-color #EFAA47
  .featuresList-item-link
    +hover-state()
      .featuresList-item-link-icon
        fill: #EFAA47

  .landingCTA
    background-color #EFAA47 + 90%
    

// Try it
.tryCozy
  .introduction
    color $clr-lighter
    background #171E22 url(../images/bkg-try.jpg) no-repeat 50% 100% / cover
  .introduction.introduction-sync
    padding-top 24vh
  .hangs
    color $clr-lighter
    background-color #171E22
  .landingCTA
    background-color $clr-primary
    h2
      color white
    .panel-lead
      color white
      max-width 80%
    .form-control
      border none
    .btn-primary
      padding 1rem 2rem
      background-color darken($clr-primary, 30%)
      font-size 1rem
      +bp-max(md)
        width 100%


// Business
.business
  .introduction
    padding-top "calc(38vh + %s)" % $header-height !important
    color $clr-lighter
    background #F3F3F3 url(../images/bkg-business@2x.jpg) no-repeat 50% 100% / cover
    color #3D3D3D

  .introduction-title
    color #3D3D3D

  .hangs
    color $clr-darker
    background-color #F3F3F3
  .features
    background-color #86888b
  .featuresList-item-link
    +hover-state()
      .featuresList-item-link-icon
        fill: #EFAA47

  .landingCTA
    background-color #86888b + 90%
    
    .panel-title
      +bp-min(lg)
        max-width 50rem // 800px



// Panels
//
.panel-title,
.panel-lead
  margin-left auto
  margin-right auto

.panel-title
  max-width 37.5rem // 600px
  margin-bottom ($spacer * 1.5) // ~75px

  &.withLead
    margin-bottom ($spacer / 4) // ~12

.panel-lead
  max-width 30rem  // 400px


// Hangs list
//
// 2 columns list with icons for presentation hangs on a list
.hangs
  padding $spacer 0 0

.hangsList
  @extend .list-unstyled
  display flex
  flex-wrap wrap
  font-family $ff-emphasis
  line-height $lh-sm

.hangsList-item
  display table
  margin-bottom ($spacer * 1.5)
  padding-left 0
  width 100%
  > div
    display table-cell
    vertical-align middle
  +bp-min(lg)
    padding-left 50px
    width 50%

  .hangsList-item-icon
    margin-right ($spacer / 2)


// Features list
//
// interactive features list
.features
  overflow hidden

.featuresList
  @extend .list-unstyled
  margin -($spacer) 0 0
  font-family $ff-emphasis

  &.light
    margin-top -($spacer)

  +bp-min(lg)
    margin-top 0

.featuresList-item
  position relative
  display inline-block
  margin-top $spacer
  width 49%
  vertical-align top
  min-height 3rem

  &:last-child
    margin-bottom 0

  +bp-min(lg)
    display block
    margin ($spacer - .625rem) 0
    margin-left $grid-gutter
    width auto
    vertical-align middle

    &:first-child
      margin-top 0

    &::after
      content ""
      position absolute
      bottom -(($spacer - 0.625rem) / 2) - (0.938rem / 2) // half of item margin bottom - half of the component height
      left (2.813rem / 2) // 50% of icon size
      width .125rem
      height .938rem
      background-color $clr-lighter

    &:last-child
      &::after
        display none

.featuresList-item-light
  position relative
  margin $spacer 0 0
  font-family $ff-emphasis
  line-height $lh-sm
  p
    margin-bottom 0 // reset default margin

.featuresList-item-link
  display block
  text-align center
  line-height $lh-sm
  color $clr-lighter !important
  +bp-min(lg)
    position absolute
    top 50%
    transform translateY(-50%)
    padding-left 4.063rem // 65px
    text-align left
    +hover-state()
      .featuresList-item-link-icon
        background-color $clr-lighter
        transform: translateY(-50%) scale(0.9)
    &.active
      .featuresList-item-link-icon
        transform: translateY(-50%) scale(1)

.featuresList-item-link-icon-sm
  position relative
  display block
  margin 0 auto $spacer-x
  width 100px
  height 100px
  box-shadow inset 0 0 0 2px $clr-lighter
  border-radius 50px
  fill $clr-lighter

  +bp-min(lg)
    display none

.featuresList-item-link-icon
  display none
  +bp-min(lg)
    display block
    position absolute
    top 50%
    left 0
    transform translateY(-50%)
    width 44px
    height 44px
    box-shadow: inset 0 0 0 1px $clr-lighter
    border-radius 22px
    fill $clr-lighter
    transition background-color $transition-duration $transition-easing, fill $transition-duration $transition-easing, transform $transition-duration $transition-bounce

.featuresList-item-link-icon-xl
  position relative
  display block
  margin 0 auto
  margin-bottom $spacer-x
  width 100px
  height 100px
  box-shadow: inset 0 0 0 2px $clr-lighter
  border-radius 50%
  fill $clr-lighter

.featuresList-item-link-icon-sm
.featuresList-item-link-icon
.featuresList-item-link-icon-xl
  svg
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

.featuresList-screenshots
  position relative

.featuresList-screenshotOutter
  position absolute
  top 0
  left 0
  right 0
  transform translateX(1000px)
  transition transform 1s cubic-bezier(.46,-0.47,.59,1.29)

  .featuresList-screenshot
    box-shadow 0px 0px 35px 0px rgba(0,0,0, 0.3)
    opacity 0
    transition opacity 1.5s $transition-easing

  &.active
    transform translateX(0)

    .featuresList-screenshot
      opacity 1


// CTA
//
// Panel with call to action title and button
.landingCTA
  .panel-title
    font-size 26px
    +bp-min(lg)
      max-width 40.625rem // 650px
      font-size ($fs-h2 + .625rem) // 42px

// Banner
.banner
  a
    color $clr-lighter
  .block
    padding $spacer
  img
    margin-bottom .5rem
  .btn
    margin-top .75rem
