// Containers tags
//
// Apply styles to html, body and main containers classes

body
  // padding-top .938rem
  font-family: $ff-common
  font-size: $fs-base
  line-height: $lh
  color: $txt-clr-base
  background-color: $body-bkg

  &.is-introductionFullHeight

    .introduction
      padding-top 35vh
      height 100vh


// Default introduction panel
//
// ex: homepage
.introduction
  position relative
  padding-top (.938rem + 3.375rem + $spacer) // top header margin + header height + default margin

.introduction-content
  text-align center

.introduction-goTo
  position absolute
  bottom 5vh
  width 100%
  text-align center


// Full width block
//
// Set padding and barckground colors
.panel
  padding ($spacer * 1.5) 0
