// Website fonts

@font-face
    font-family lato
    font-style normal
    font-weight 300
    src url('../fonts/lato-light.ttf')

@font-face
    font-family lato
    font-style normal
    font-weight 400
    src url('../fonts/lato-regular.ttf')

@font-face
    font-family lato
    font-style normal
    font-weight 700
    src url('../fonts/lato-bold.ttf')

@font-face
    font-family merriweather
    font-style normal
    font-weight 300
    src url('/en/fonts/merriweather-light.ttf')

@font-face
    font-family merriweather
    font-style normal
    font-weight 400
    src url('/en/fonts/merriweather-regular.ttf')

@font-face
    font-family merriweather
    font-style normal
    font-weight 700
    src url('/en/fonts/merriweather-bold.ttf')
