// App main navigation / header
//

.siteHeader
  position absolute
  top .938rem
  right 0
  left 0
  z-index 2

.siteLogo
  max-width 53px
  fill: $clr-primary


// Contrast mode
//

.siteHeader.contrast
  .siteNavigation
    .btn-link
      color $nav-link-clr-contrast

      +hover-state()
        color $nav-link-hover-clr-contrast

  .siteLogo
    fill: $txt-clr-base-contrast