// Homepage content specifics styles
//

.is-homepage

  .introduction
    padding-top 13vh

  .introduction-content
    color lighten($body-bkg-alt, 50%)

    &::after
      content: ""
      display block
      margin ($spacer-y + 1.625rem) auto 4rem
      width 6.25rem // 100px
      height .25rem // 4px
      background-color $clr-lighter

  .siteHeader.contrast
    .siteNavigation
      .btn-link
        color $nav-link-clr-contrast

        +hover-state()
          color $nav-link-hover-clr-contrast

    .siteLogo
      fill $clr-lighter


// "Stand for" icons
//

.standFor,
.standFor-item
  display block
  margin-bottom $spacer

.standFor-item
  +hover-state()
    .standFor-figure
      transform translateY(-10px)

.standFor-figure
  width 100%
  height 134px
  line-height 134px
  text-align center
  transition all $transition-duration $transition-bounce

.standFor-title
  margin 0 auto
  width 70%
