// Homepage content specifics styles
//

.home-pierre
	height 94vh
	min-height 600px
	max-height 1050px
	max-width 2000px
	margin auto

.panel
	padding 4rem 0

.is-homepage

	h1
		color #111
		font-size 3.375rem

	.grey-background
		background-color $clr-light

	.introduction
		padding-top 13vh
		padding-bottom 4rem

	.introduction-title
		text-align justify

	.introduction-content
		text-align justify
		font-weight normal
		font-size 1.1rem

		&::after
			content: ""
			display block
			margin ($spacer-y + 0.05rem) auto 1rem
			width 6.25rem // 100px
			height .25rem // 4px
			background-color $clr-lighter



// "Stand for" icons
//

.standFor,
.standFor-item
	display block
	margin-bottom $spacer

.standFor-item
	+hover-state()
		.standFor-figure
			transform scale(1.125)

.standFor-figure
	width 100%
	height 134px
	line-height 134px
	text-align center
	transition all $transition-duration $transition-bounce

.standFor-title
	margin 0 auto
	width 60%
