// Homepage content specifics styles
//

.homepage
	// height 94vh
	// min-height 800px
	// max-height 1050px
	// max-width 2000px
	margin auto

.is-homepage

	.introduction
		padding-top 12vh
		padding-bottom 8vh

		+bp-max(md)
			padding-top 4vh
			height 110vh

	.introduction-title
		text-align left

	.introduction-content
		text-align left
		font-weight normal
		font-size 1.1rem
		background rgba(255,255,255,.9)

		+bp-max(md)
			display none

		// &::after
		// 	content: ""
		// 	display block
		// 	margin ($spacer-y + 0.05rem) auto 1rem
		// 	width 6.25rem // 100px
		// 	height .25rem // 4px
		// 	background-color $clr-lighter


// Features list on homepage
//

.featuresList-item-home
	margin-bottom 3rem

	img
		width 5rem

	h3
		margin-bottom .5rem

	p
		line-height 1.25rem
		margin-bottom .5rem

// "Stand for" icons
//

.standFor,
.standFor-item
	display block
	// margin-bottom $spacer

.standFor-item
	+hover-state()
		.standFor-figure
			transform scale(1.125)

	img
		width 100%

.standFor-figure
	width 100%
	height 134px
	line-height 134px
	text-align center
	transition all $transition-duration $transition-bounce

.standFor-title
	margin 0 auto
	width 60%

.carousel
	width calc(100% - 4rem)
	margin 0 auto

.carousel-articleTitle
	position relative
	margin-bottom 1rem
	text-align left
	font-size 1.2rem

.carousel-articleTitle a:before
	content ''
	position absolute
	left -2.5rem
	top 2px
	width 32px
	height 32px
	background-size contain

.press-echos:before
	background url('../images/press/lesechos.ico')
.press-figaro:before
	background url('../images/press/figaro.png')
.press-wired:before
	background url('../images/press/wired.ico')
.press-bfm:before
	background url('../images/press/bfm.png')
.press-jdn:before
	background url('../images/press/jdn.ico')
.press-numerama:before
	background url('../images/press/numerama.ico')
.press-adn:before
	background url('../images/press/adn.png')
.press-lesechos:before
	background url('../images/press/lesechos.jpg')
.press-usbeketrica:before
	background url('../images/press/usbeketrica.ico')
.press-franceinter:before
	background url('../images/press/franceinter.png')
.press-canalplus:before
	background url('../images/press/canal-plus-icon-152x152.png')
.press-nextimpact:before
	background url('../images/press/nextimpact.ico')


.carousel-articleContent
	font-style italic
	font-size .9rem

	p
		margin-bottom 1rem

.carousel-articleDate
	font-size .8rem
	font-weight bold

.testimony
	margin-bottom 1.75rem
	justify-content center
	
.testimony-item
	margin-bottom 2rem
	border 1px solid $clr-lightgrey
	border-radius .5rem
	padding 2rem 1rem
	
.testimony-text
	font-size 1.25rem
	font-style italic
	line-height 1.2
	color $clr-darkgrey
	
	&::before
		content '« '
		
	&::after
		content ' »'

.testimony-desc
	margin-top 3rem
	
.testimony-icon
	font-size 1.875rem
	
.testimony-author
	font-weight bold
