// Icons
//

// Support icons
.supportIcons
  width 32px
  height 32px
  display inline-block

// Rounded icon
//
.icon-rounded
  display inline-block
  border $border-width solid $clr-darker
  border-radius 100%
  &.xl
    width 5.5rem
    height 5.5rem
    line-height 5.5rem
    text-align center


.featuresIcons
  width 48px
  height 48px
  display block
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  background-image url(../images/sprite-landing.svg)
  background-position 0 0

  &.calendar
    background-position 0 0

  &.contacts
    background-position -48px 0

  &.mail
    background-position -96px 0

  &.phone-sync
    background-position -144px 0

  &.phone-backup
    background-position -192px 0

  &.monitor
    background-position -240px 0

  &.picture-share
    background-position -288px 0

  &.lightbulb
    background-position -336px 0

  &.piggy-bank
    background-position -384px 0

  &.code
    background-position -432px 0

  &.terminal
    background-position -480px 0

  &.book
    background-position -528px 0

  &.node
    background-position -576px 0

  &.angular-react
    background-position -624px 0

  &.analytics
    background-position -672px 0

  &.fast
    background-position -720px 0

  &.storage
    background-position -768px 0

  &.free
    background-position -816px 0

  &.connection
    background-position -864px 0

  &.flex
    background-position -912px 0

  &.sun
    background-position -960px 0

  &.opensource
    background-position -1008px 0

  &.thumbup
    background-position -1056px 0
