// Icons
//

// Rounded icon
//
.icon-rounded
  display inline-block
  border $border-width solid $clr-darker
  border-radius 100%
  &.xl
    width 5.5rem
    height 5.5rem
    line-height 5.5rem
    text-align center