// Icons
//

// Support icons
.supportIcons
  width 64px
  height 64px
  display inline-block

  img
    width 100%

// Store logos
.store-logo img {
  max-width 135px
}

// Rounded icon
//
.icon-rounded
  display inline-block
  border $border-width solid $clr-darker
  border-radius 100%
  &.xl
    width 5.5rem
    height 5.5rem
    line-height 5.5rem
    text-align center


.featuresIcons
  width 48px
  height 48px
  border $clr-darker
  display block
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  background-image url(../images/icons/sprite-landing.svg)
  background-position 0 0

  &.calculator
    background-position 0 0

  &.euro
    background-position -48px 0

  &.files
    background-position -96px 0

  &.health
    background-position -144px 0

  &.images
    background-position -192px 0

  &.lock
    background-position -240px 0

  &.people
    background-position -288px 0

  &.sync
    background-position -336px 0

  &.tick
    background-position -384px 0

  &.touch
    background-position -432px 0
