// Responsive image
//
// Defautl spacing on figure element.
figure
  margin-bottom $spacer-y

// Keep images from scaling beyond the width of their parents.
.img-responsive
  display: inline-block
  max-width: 100%
  height: auto