// Links hover state helper
//

a
  color: $link-clr
  text-decoration: none
  transition: $transition-property $transition-duration $transition-easing
  +hover-state()
    color: $link-hover-clr
    text-decoration: $link-hover-decoration


// Direction
//
// Set properties of direction arrows links
// Global styles
.direction
  display inline-block
  border-radius: 50%;
  box-shadow 0px 0px 10px 0px rgba(0,0,0, 0.1)
  transition transform $transition-duration cubic-bezier(0.280, 1.650, 0.650, 1.650)
  +hover-state()
    transform: scale(1.5)

// Social Links
//
// Add icons to respectives social medias links
.socialLink
  position relative
  padding-left 2.5rem
  &::before
    content ""
    position absolute

  &.facebook
    &::before
      left .313rem
      width .5rem
      height 1rem
      background: url(../images/icon-facebook.svg) no-repeat

  &.twitter
    &::before
      left 0
      width 1.188rem
      height .813rem
      background: url(../images/icon-twitter.svg) no-repeat

  &.instagram
    &::before
      left .125rem
      width .938rem
      height .938rem
      background: url(../images/icon-instagram.svg) no-repeat

  &.rss
    &::before
      left .188rem
      width .75rem
      height .813rem
      background: url(../images/icon-rss.svg) no-repeat