// Links hover state helper
//

a
  color: $link-clr
  text-decoration: none
  transition: $transition-property $transition-duration $transition-easing
  +hover-state()
    color: $link-hover-clr
    text-decoration: $link-hover-decoration


// Direction
//
// Set properties of direction arrows links
// Global styles
.direction
  display inline-block
  border-radius: 50%;
  box-shadow 0px 0px 10px 0px rgba(0,0,0, 0.1)
  transition transform $transition-duration $transition-bounce
  +hover-state()
    transform: scale(1.5)

// Social Links
//
// Add icons to respectives social medias links
.socialLink
  position relative
  padding-left 2.5rem
  
  &::before
    content ""
    position absolute
    left 0
    width .875rem
    height .875rem

  &.facebook
    &::before
      background: url(../images/icon-facebook.svg) no-repeat 50% 50% / contain

  &.twitter
    &::before
      background: url(../images/icon-twitter.svg) no-repeat 50% 50% / contain

  &.diaspora
    &::before
      background: url(../images/icon-diaspora.svg) no-repeat 50% 50% / contain

  &.rss
    &::before
      background: url(../images/icon-rss.svg) no-repeat 50% 50% / contain
