.table
  &.round
    border-radius 16px
    border-collapse collapse
    overflow hidden

  &.grey
    background-color #F4F5F6
    color #32363f

  &.lines
    border 1px solid rgba(29, 33, 42, 0.12)

    thead, td
      border 1px solid rgba(29, 33, 42, 0.12)

  &.fullwidth
    width 100%

  &.noMargin-lg
    +bp-min(lg)
      margin 0
