// Text selection
::selection
  background: darken($clr-darker, 20%)
  text-shadow: none


// Headings
//
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin-top: 0
  font-family: $headings-ff-base
  line-height: $headings-lh
  color: $headings-clr
  text-transform: uppercase
  a
    +hover-state()
      text-decoration: none

// case
h4, .h4,
h5, .h5,
h6, .h6
  text-transform: none

// alignment
h1, .h1,
h2, .h2,
h3, .h3
  text-align center

// bottom margins
h1, .h1,
h2, .h2,
h3, .h3
  margin-bottom: $headings-mrg-bottom
h4, .h4,
h5, .h5,
h6, .h6
  margin-bottom: ($headings-mrg-bottom / 2)

// font size
h1, .h1
  font-size: $fs-h1
h2, .h2
  font-size: $fs-h2
h3, .h3
  font-size: $fs-h3
h4, .h4
  font-size: $fs-h4
h5, .h5
  font-size: $fs-h5
h6, .h6
  font-size: $fs-h6


// Paragraph
//
p
  margin-top: 0
  margin-bottom: $spacer-y


// Hang emphasis
.hang
  display block
  padding-left .938rem
  font-family $ff-emphasis
  font-size $fs-xl
  line-height $lh-sm
  font-weight $fw-bold
  font-style normal
  color: $clr-darker
  border-left: .188rem solid $clr-primary


// Drop case on first child letter
//
.dropcaps
  +dropcaps($ff-emphasis, 6.875rem, $clr-darker)
    0


// Highlight text
//
.highlight
  color: $txt-clr-highlight


// Lead paragraph
.lead
  margin-bottom $spacer
  text-align: center
  font-size: $fs-lead

  &-sm
    font-size $fs-lead-sm


// Variants
small,
.small
  font-size: 66.6%
  font-weight: normal

big,
.bigger
  font-size: 125%

.text-muted
  color: $txt-muted


// Lists
//
// Removes default browser padding and list-style but keep list items block level
.list-unstyled
  padding-left: 0
  list-style: none

// Definitions list
dl
  margin 0

  dt
  dd
    padding-left ($spacer / 2)
  dt
    position relative
    margin-bottom ($spacer / 5)
    font-family $dt-ff-base
    font-size $dt-fs
    line-height  $dt-lh
    color $dt-clr

    &::before
      content ""
      position absolute
      top ($dt-fs / 2)
      left 0
      width .438rem
      height .438rem
      background-color lighten($clr-base, 65%)
      border-radius 50%
  dd
    margin 0 0 $spacer

// Horizontal rules
//
hr
  margin-top: $spacer-y
  margin-bottom: $spacer-y
  border: 0
  border-top: $hr-border-width solid $hr-border-clr


// Contrast color managing
//
// Manage negative color on dark/light backgrounds
.contrast
  color $txt-clr-base-contrast

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6
    color $txt-clr-base-contrast