// Javascripts utility classes
//
.js-hide
  display: none


// Alignments
//
// Horizontal
// - align childs
.align-center
  text-align: center

.align-right
  text-align: right

.align-justify
  text-align: justify


// Hide text
//
// Care about screen readers
.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0


// Clearfix
//
.clearfix
  &:before
  &:after
    content ""
    display table
  &:after
    clear both


// Hide elements from breakpoint to infinite or from 0 to breakpoint
//
// Mixins will generate each breakpoint hidden class
hidden-min()
hidden-max()