// Variables
//


// Table of contents
//
// Spacing
// Brand colors
// Body settings
// Links
// Typography
// Grid breakpoints
// Grid containers
// Grid columns
// Navigation
// Buttons
// Forms


// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.
// It's for an unvariable time prefixed with `` for avoids conflicts with actual Praditus website.


// Spacing
//
// Control the default margins and paddings easily

$spacer       = 3.125rem    // 50px
$spacer-x     = ($spacer/4) // ~12px
$spacer-y     = ($spacer/2) // 25px
$border-width = .0625rem    // 1px


// Colors
//
// Praditus brand colors

$clr-primary        = #3AB4F0

$clr-darker         = #3D3D3D
$clr-base           = #86888B
$clr-light          = #F8F9F9
$clr-lighter        = #fff

$clr-highlight      = $clr-primary
$clr-error          = FireBrick



// Body
//
// Settings for the `<body>` element.

$body-bkg          = $clr-lighter
$body-bkg-alt      = #1670B6


// Links
//
// Style anchor elements.

$link-clr              = $clr-primary
$link-hover-clr        = darken($clr-primary, 25%)
$link-hover-decoration = none


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$txt-clr-base          = $clr-base
$txt-muted             = lighten($txt-clr-base, 30%)
$txt-clr-highlight     = $clr-darker
$txt-clr-base-contrast = $clr-lighter

$ff-common           = "Merriweather", Georgia, serif
$ff-emphasis         = "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif

$fs-root             = 16px

$lh                  = 1.55
$lh-xl               = (4/3)
$lh-lg               = $lh-xl
$lh-sm               = 1.25

$fs-base             = 1rem
$fs-xl               = 1.75rem
$fs-lg               = 1.125rem
$fs-sm               = .875rem
$fs-xs               = .625rem

$fs-h1               = 4.375rem
$fs-h2               = 2rem
$fs-h3               = 1.875rem
$fs-h4               = 1.125rem    // 18px
$fs-h5               = .875rem
$fs-h6               = .625rem

$fs-lead             = 1.125rem   // 18px
$fs-lead-sm          = .875rem    // 14px

$fw-bold             = 700
$fw-regular          = 400
$fw-light            = 300

$heading-bkg           = transparent
$headings-mrg-bottom   = ($spacer - .625rem)
$headings-ff-base      = $ff-emphasis
$headings-lh           = 1
$headings-clr          = $clr-darker
$headings-clr-contrast = $clr-lighter

$dt-ff-base = $ff-emphasis
$dt-fs = 1.375rem
$dt-lh = $lh-sm
$dt-clr = $clr-darker

$hr-border-clr       = #DAD9D9
$hr-border-width     = $border-width


// Components
//
// Define common padding and border radius sizes and more.

$border-radius       = 4px
$border-radius-lg    = $border-radius
$border-radius-sm    = $border-radius

$transition-property = all
$transition-duration = .250s
$transition-easing   = ease
$transition-bounce   = cubic-bezier(0.280, 1.650, 0.650, 1.650)


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
//
// xs - Extra small screen, phone
// sm - Small screen, phone
// md - Medium screen, tablet
// lg - Large screen, desktop
// xl - Extra large screen, wide desktop

breakpoints = {
    xs: 0,
    sm: 320px,
    md: 460px,
    lg: 980px,
    xlg: 1280px
}


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-width = 1200px


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns = 24
$grid-gutter  = 20px

$grid-row-classname   = 'row'
$grid-cell-classname  = 'col'


// Navigation
//
// Font Style
$nav-link-ff               = $ff-emphasis

// Colors
$nav-link-clr                       = $clr-base
$nav-link-hover-clr                 = $clr-darker
$nav-link-hover-decoration          = none
$nav-link-clr-contrast              = $clr-lighter
$nav-link-hover-clr-contrast        = $clr-primary
$nav-link-hover-decoration-contrast = none


// Buttons
//
// For each buttons, define text, background and border color.
$btn-pdg-x            = 1.875rem
$btn-pdg-y            = .625rem

$btn-ff               = $ff-emphasis
$btn-fs               = .75rem
$btn-fw               = $fw-regular

$btn-primary-clr      = $clr-lighter
$btn-primary-bkg      = $clr-primary
$btn-primary-border   = $btn-primary-bkg

$btn-secondary-clr    = $clr-primary
$btn-secondary-bkg    = $clr-lighter
$btn-secondary-border = $btn-secondary-bkg

$btn-pdg-x-xl         = $btn-pdg-x-lg
$btn-pdg-y-xl         = $btn-pdg-y-lg
$btn-fs-xl            = 1.2rem
$btn-fw-xl            = $fw-bold

$btn-pdg-x-lg         = 1.875rem
$btn-pdg-y-lg         = 1.125rem
$btn-fs-lg            = $btn-fs
$btn-fw-lg            = $btn-fw

$btn-pdg-x-sm         = .75rem
$btn-pdg-y-sm         = .25rem
$btn-fs-sm            = $btn-fs
$btn-fw-sm            = $btn-fw

// Allows for customizing button radius independently from global border radius
$btn-border-radius    = $border-radius
$btn-border-radius-xl = $btn-border-radius-lg
$btn-border-radius-lg = $border-radius-lg
$btn-border-radius-sm = $border-radius-sm


// Forms
//
$input-pdg-x                    = .625rem
$input-pdg-y                    = .313rem
$input-border-width             = 0

$input-ff                       = $ff-emphasis

$input-bkg                      = $clr-lighter
$input-bkg-disabled             = $clr-light

$input-clr                      = $txt-clr-base
$input-border                   = transparent
$input-box-shadow               = none

$input-border-radius            = 0
$input-border-radius-lg         = 0
$input-border-radius-sm         = 0

$input-border-focus             = #66afe9
$input-box-shadow-focus         = rgba(102,175,233,.6)

$input-clr-placeholder          = $txt-clr-base

$input-pdg-x-sm                 = .75rem
$input-pdg-y-sm                 = .275rem

$input-pdg-x-lg                 = 1.875rem
$input-pdg-y-lg                 = 1.125rem

$input-height                   = (($fs-base * $lh) + ($input-pdg-y * 2) + ($border-width * 2))
$input-height-lg                = (($fs-lg * $lh-lg) + ($input-pdg-y-lg * 2) + ($border-width * 2))
$input-height-sm                = (($fs-sm * $lh-sm) + ($input-pdg-y-sm * 2) + ($border-width * 2))

$form-group-mb                  = 1.25rem

$input-group-addon-bkg          = $clr-primary
$input-group-addon-border-color = darken($clr-primary, 10%)

$cursor-disabled                = not-allowed

// App
//
// Main footer
$footer-bkg = $clr-light;
