// Main stylesheet
// nov. 2015
//

// Fonts
@import './_fonts'

// Vendors
@import '../../node_modules/normalize-styl/normalize'

// Core variables
@import './_variables'

// Mixins
@import './mixins/_rem-unit'
@import './mixins/_clearfix'
@import './mixins/_hover-state'
@import './mixins/_buttons'
@import './mixins/_grid'
@import './mixins/_breakpoints'
@import './mixins/_hidden'
@import './mixins/_dropcaps'

// Reset and dependencies
@import '_reboot'
@import '_print'

// Core CSS
@import '_utilities'
@import '_grid'
@import '_types'
@import '_links'

// Components
@import './_buttons'

// Defaults
body
	font-family $ff-common
	font-size $fs-base
	line-height $lh
	color $txt-darkgrey
	background-color $body-bkg
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

// Utilities
.emphasis
	font-style normal
	color $clr-emphasis

.btn
		display inline-flex
		align-items center
		justify-content center
		max-width 18.75rem
		border-radius 3px
		height 3.5rem
		font-size 1rem
		font-weight bold
		box-shadow 0 8px 8px 0 rgba(41, 126, 242, 0.16), 0 4px 4px 0 rgba(41, 126, 242, 0.16)

		+bp-min(md-lg)
			display flex
			height 4rem
			font-size 1.125rem

// Header
.header
	position relative
	box-sizing border-box
	display flex
	flex-direction row
	align-items center
	justify-content center
	height 3rem
	padding .5rem 0
	box-shadow 0 2px 16px 0 rgba(50, 54, 63, 0.08), 0 2px 8px 0 rgba(50, 54, 63, 0.08);

	+bp-min(md-lg)
		justify-content flex-start
		height 4rem
		padding .875rem 0

.header-partner
	padding 0 1rem
	border-right 1px solid $clr-primary-light

	+bp-min(md-lg)
		padding 0 1.5rem

	img
		max-height 2rem

		+bp-min(md-lg)
			max-height 2.25rem

.header-cozy
	padding 0 .75rem

	+bp-min(md-lg)
		padding 0 1.25rem

	img
		max-height 1.5rem

		+bp-min(md-lg)
			max-height 2rem

// Banner
.banner
	background $clr-lightgrey url('../images/landing/cover-mobile.jpg') top left / cover no-repeat
	min-height 22.5rem
	display flex
	align-items center
	justify-content center

	+bp-min(md-lg)
		background $clr-lightgrey url('../images/landing/cover.jpg') top center / cover no-repeat
		min-height 30rem

.banner-wrapper
	flex-basis 100%
	max-width 80rem
	padding 0 1rem

	+bp-min(md-lg)
		padding 0 2rem

	h1
		margin 1rem 0
		text-align left
		font-size 2rem
		color $clr-darkgrey

		+bp-min(md-lg)
			font-size 3.5rem

	h2
		margin 1rem 0 1.5rem
		text-align left
		font-size 1.125rem
		font-weight normal
		line-height 1.3
		color $clr-darkgrey

		+bp-min(md-lg)
			margin-bottom 2rem
			font-size 2rem

	.btn
		display flex

// Features
.features
	position relative
	margin 0 auto -16rem
	max-width 60rem
	padding 0 .5rem
	font-size 1rem

	+bp-min(md-lg)
		margin-bottom -11rem
		text-align center
		font-size 1.25rem

.features-desc
	padding 2rem .5rem 0

	p
		margin 0 0 1rem

	+bp-min(md-lg)
		padding 4rem 0 5rem

.features-keys
	display flex
	flex-direction column
	border 1px solid $clr-primary-light
	border-top 0
	border-bottom-left-radius 1.5rem
	border-bottom-right-radius 1.5rem
	padding 0 1rem 2rem
	background-color white

	+bp-min(md-lg)
		flex-direction row
		border-bottom-left-radius 2.5rem
		border-bottom-right-radius 2.5rem

.features-key
	display flex
	flex-direction row
	align-items center

	+bp-min(md-lg)
		flex 1 1 33%
		flex-direction column

	.features-label
		position relative
		display flex
		flex-direction column
		justify-content center
		flex 1 1 auto
		margin 0 .5rem 0 0
		padding 1rem 0
		min-height 7rem

		+bp-min(md-lg)
			width 100%

		&:after
			content ''
			position absolute
			bottom 0
			left 0
			right 0
			border-bottom 1px solid $clr-primary-light

			+bp-min(md-lg)
				right 0
				left auto
				height 6rem
				border-bottom 0
				border-right 1px solid $clr-primary-light
				transform translateY(-50%)

		p
			margin 0


	&:last-child .features-label:after
		border 0

.features-icon
	flex 0 0 auto
	max-width 5rem
	max-height 5rem
	margin-right 1rem

	img
		width 100%
		height 100%


.features-CTA
	position relative
	margin 0 auto
	transform translateY(-50%)
	text-align center

	.btn
		margin 0 auto
		max-width 26rem

.details
	background-color $clr-primary-light
	padding 16rem 1rem 2rem

	+bp-min(md-lg)
		padding 11rem 2rem 3rem

.details-wrapper
	display flex
	flex-direction column
	max-width 100rem
	margin 0 auto

	+bp-min(md-lg)
		flex-direction row
		align-items center

.details-illu
	flex 0 1 auto
	display none
	align-items center
	padding-right 4rem

	img
		width 100%

	+bp-min(lg)
		display flex

.details-text
	display flex
	flex-direction column

	+bp-min(md-lg)
		flex-direction row
		align-items stretch

.details-desc
	flex 1 1 auto
	h2
		margin-bottom 1.5rem
		text-align left
		font-size 1.75rem

	ul
		padding 0

	li
		position relative
		margin-bottom 1rem
		padding-left 2.5rem
		list-style none
		font-weight bold
		font-size .875rem
		line-height 1.4

		&:before
		&:after
			position absolute
			left 0
			top .15rem
			content ''
			display inline-block
			border-radius 100%

		&:before
			width 1rem
			height 1rem
			background-color white

		&:after
			top .40rem
			left .25rem
			width .5rem
			height .5rem
			background-color $clr-primary

		span
			font-weight normal

	+bp-min(md-lg)
		padding-right 2rem

.details-offer
	display flex
	align-items center
	justify-content center
	flex 0 0 auto
	margin-top 2rem
	border-top 1px solid white
	padding-top 2rem
	text-align center

	+bp-min(md-lg)
		border-top 0
		border-left 1px solid white
		padding 0 2rem 0 3rem
		text-align left

.details-usage
	display inline-flex
	align-items center

	strong
		font-size 2.5rem
		margin-right .375rem

	span
		text-align left
		font-weight bold
		line-height 1.125

.details-price
	margin-bottom 1rem
	font-size 3.5rem
	line-height 1

.testimonies
	padding 2rem 1rem 1rem

	+bp-min(md-lg)
		padding 4rem 1rem 3rem

	h2
		margin-bottom 1.5rem
		font-size 1.75rem

		+bp-min(md-lg)
			margin-bottom 2rem

.testimonies-list
	display flex
	flex-direction column
	max-width 60rem
	margin 0 auto
	padding 0
	list-style none

	+bp-min(md-lg)
		flex-direction row
		align-items stretch
		justify-content space-between

.testimonies-item
	display flex
	flex-direction column
	justify-content space-between
	flex 0 1 30%
	margin-bottom 1rem
	border 1px solid $clr-primary-light
	border-radius .25rem
	padding 1rem

	+bp-min(md-lg)
		max-width 18rem

	p
		margin-bottom 1rem

.testimony-desc
	margin-top 3rem

.testimonies-author
	font-weight bold

.testimonies-medium
	span
	a:link
		display inline-flex
		align-items center

		&:before
			content ''
			display inline-block
			margin-right .25rem
			width 1rem
			height 1rem
			background url('../images/testimony/icon-mail.svg') left center / contain no-repeat

	a:link
		font-weight bold

		&.testimonies-playstore:before
			background-image url('../images/testimony/icon-playstore.svg')

.footer
	max-width 60rem
	margin 0 auto
	padding 0 1rem 1rem
	text-align center
	font-size 1rem
	font-weight bold

	p
		margin-bottom 1.5rem

	.btn
		display flex
		margin 0 auto

	+bp-min(md-lg)
		p
			font-size 1.25rem

