<div class="pricing-pro container">
	<div class="row row-justify-center">
		<div class="col-xs-22 col-lg-20">
			<h2 class="h2">{{__ 'pricing pro title'}}</h2>
			<h3 class="h4 align-left">{{__ 'pricing pro subtitle'}} <br/> </h3>
			<p>
				{{__ 'pricing pro desc one'}}
			</p>
			<ul>
				<li>{{__ 'pricing pro desc two'}}</li>
				<li>{{__ 'pricing pro desc three'}}</li>
				<li>{{__ 'pricing pro desc four'}}</li>
			</ul>
			<div class="align-center">
				<a href="{{__ 'pricing pro link'}}" class="btn btn-primary">{{__ 'pricing pro CTA'}}</a>
			</div>
		</div>
	</div>
</div>
