  </main>

  <footer class="siteFooter">
    <div class="container">
      <div class="row">
        <div class="col-xs-20 col-offset-xs-2">
          <div class="row">
            <div class="col-xs-4">
              <div class="siteFooter-hangTitle">Cozy</div>
              <div class="siteFooter-hangContent">{{__ 'Simple, versatile, open, yours.'}}</div>

              <div class="siteFooter-copy">
                © 2015 Cozy<br>
                {{__ 'All rights reserved'}}
              </div>
            </div>

            <div class="col-xs-4 col-offset-xs-1">
              <ul class="siteFooter-list">
                <li class="siteFooter-list-item bolder"><a href="#">{{__ 'About'}}</a></li>
                <li class="siteFooter-list-item bolder"><a href="#">{{__ 'FAQ'}}</a></li>
                <li class="siteFooter-list-item bolder"><a href="#">{{__ 'Community'}}</a></li>
                <li class="siteFooter-list-item bolder"><a href="#">{{__ 'Comparison'}}</a></li>
                <li class="siteFooter-list-item bolder"><a href="#">{{__ 'Architecture'}}</a></li>
              </ul>
            </div>

            <div class="col-xs-5">
              <ul class="siteFooter-list">
                <li class="siteFooter-list-item muted"><a href="#">{{__ 'Installation'}}</a></li>
                <li class="siteFooter-list-item muted"><a href="#">{{__ 'Documentation'}}</a></li>
                <li class="siteFooter-list-item muted"><a href="#">{{__ 'Developer Website'}}</a></li>
                <li class="siteFooter-list-item muted"><a href="#">Github</a></li>
                <li class="siteFooter-list-item muted"><a href="#">{{__ 'Roadmap'}}</a></li>
                <li class="siteFooter-list-item muted"><a href="#">{{__ 'Blog'}}</a></li>
                <li class="siteFooter-list-item muted"><a href="#">{{__ 'App mobile'}}</a></li>
                <li class="siteFooter-list-item muted"><a href="#">{{__ 'Apps'}}</a></li>
              </ul>
            </div>

            <div class="col-xs-5">
              <div class="siteFooter-listTitle">{{__ 'Follow us'}}</div>
              <ul class="siteFooter-list">
                <li class="siteFooter-list-item muted biggerGap"><a href="#" class="socialLink facebook">Facebook</a></li>
                <li class="siteFooter-list-item muted biggerGap"><a href="#" class="socialLink twitter">Twitter</a></li>
                <li class="siteFooter-list-item muted biggerGap"><a href="#" class="socialLink instagram">Instagram</a></li>
                <li class="siteFooter-list-item muted biggerGap"><a href="#" class="socialLink rss">RSS</a></li>
              </ul>
            </div>

            <div class="col-xs-5">
              <div class="siteFooter-listTitle">{{__ 'Subscribe to our news'}}</div>
              <form action="#">
                <p class="form-group">
                  <input type="text" placeholder="E-mail" class="form-control">
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>