<div class="container">
  <div class="row-center">
    <div class="col-xs-2">
      <img src="images/cozy.svg" class="img-responsive" alt="Cozy">
    </div>

    <div class="col-xs-3 col-offset-xs-4 align-center">
      <a href="#" class="btn btn-link">Home</a>
    </div>

    <div class="col-xs-3 align-center">
      <a href="#" class="btn btn-link">Features</a>
    </div>

    <div class="col-xs-3 align-center">
      <a href="#" class="btn btn-link">Blog</a>
    </div>

    <div class="col-xs-3 align-center">
      <a href="#" class="btn btn-link">About</a>
    </div>

    <div class="col-xs-2 col-offset-xs-4">
      <a href="#" class="btn btn-primary btn-lg">Sign up</a>
    </div>
  </div>
</div>