<div class="container">
  <header class="siteHeader">
    <nav class="siteNavigation">
      <div class="row-center">
        <div class="col-xs-2">
          <img src="images/cozy.svg" class="siteLogo" alt="Cozy">
        </div>

        <div class="col-xs-3 col-offset-xs-4 align-center">
          <a href="#" class="btn btn-link btn-sm">Home</a>
        </div>

        <div class="col-xs-3 align-center">
          <a href="#" class="btn btn-link btn-sm">Features</a>
        </div>

        <div class="col-xs-3 align-center">
          <a href="#" class="btn btn-link btn-sm">Blog</a>
        </div>

        <div class="col-xs-3 align-center">
          <a href="#" class="btn btn-link btn-sm">About</a>
        </div>

        <div class="col-xs-2 col-offset-xs-4">
          <a href="#" class="btn btn-primary btn-lg">Sign up</a>
        </div>
      </div>
    </nav>
  </header>
</div>