<div class="carousel">
	<div class="carousel-article">
		<h3 class="carousel-articleTitle"><a class="press-01net" href="{{__ 'home press article1 link'}}" target="_blank">{{__ 'home press article1 title'}}</a></h3>
		<div class="carousel-articleContent">
			<p>{{__ 'home press article1 text'}}</p>
		</div>
		<div class="carousel-articleDate">
			<time datetime="{{__ 'home press article1 datetime'}}">{{__ 'home press article1 date'}}</time>
		</div>
	</div>
	<div class="carousel-article">
		<h3 class="carousel-articleTitle"><a class="press-techcrunch" href="{{__ 'home press article2 link'}}" target="_blank">{{__ 'home press article2 title'}}</a></h3>
		<div class="carousel-articleContent">
		 	<p>{{__ 'home press article2 text'}}</p>
		</div>
		<div class="carousel-articleDate">
			<time datetime="{{__ 'home press article2 datetime'}}">{{__ 'home press article2 date'}}</time>
		</div>
	</div>
	<div class="carousel-article">
		<h3 class="carousel-articleTitle"><a class="press-franceinter" href="{{__ 'home press article3 link'}}" target="_blank">{{__ 'home press article3 title'}}</a></h3>
		<div class="carousel-articleContent">
		 	<p>{{__ 'home press article3 text'}}</p>
		</div>
		<div class="carousel-articleDate">
			<time datetime="{{__ 'home press article3 datetime'}}">{{__ 'home press article3 date'}}</time>
		</div>
	</div>
	<div class="carousel-article">
		<h3 class="carousel-articleTitle"><a class="press-franceinfo" href="{{__ 'home press article4 link'}}" target="_blank">{{__ 'home press article4 title'}}</a></h3>
		<div class="carousel-articleContent">
			<p>{{__ 'home press article4 text'}}</p>
		</div>
		<div class="carousel-articleDate">
			<time datetime="{{__ 'home press article4 datetime'}}">{{__ 'home press article4 date'}}</time>
		</div>
	</div>
	<div class="carousel-article">
		<h3 class="carousel-articleTitle"><a class="press-nextinpact" href="{{__ 'home press article5 link'}}" target="_blank">{{__ 'home press article5 title'}}</a></h3>
		<div class="carousel-articleContent">
			<p>{{__ 'home press article5 text'}}</p>
		</div>
		<div class="carousel-articleDate">
			<time datetime="{{__ 'home press article5 datetime'}}">{{__ 'home press article5 date'}}</time>
		</div>
	</div>
	<div class="carousel-article">
		<h3 class="carousel-articleTitle"><a class="press-lepoint" href="{{__ 'home press article6 link'}}" target="_blank">{{__ 'home press article6 title'}}</a></h3>
		<div class="carousel-articleContent">
			<p>{{__ 'home press article6 text'}}</p>
		</div>
		<div class="carousel-articleDate">
			<time datetime="{{__ 'home press article6 datetime'}}">{{__ 'home press article6 date'}}</time>
		</div>
	</div>
</div>
