<div class="container">
	<div class="row">
		<div class="col-xs-24 col-md-24 col-lg-12 align-center standout-panel">
			<img src="{{ pathTo }}/images/nirvana_cozy.svg" alt="Zen woman">
		</div>
		<div class="col-xs-24 col-md-24 col-lg-12 standout-panel">
			<h2>
					{{__ 'home cta title'}}
			</h2>
			<p>{{__ 'home cta text 1'}} <b>{{__ 'home cta text 2'}}</b></p>
			<div class="standoutCTA-CTA">
				<div>
					<a href="{{__ 'pricing basic link'}}" class="btn btn-primary btn-xl btn-bounce">
						{{__ 'pricing basic CTA'}}
					</a>
				</div>
				<p class="standoutCTA-reassurance">{{__ 'home reassurance text'}}</p>
			</div>
	</div>
</div>
