// Common styles for common pages
//

// Specific introduction backgrounds
//

.introduction
  &.ungoogleYourLife
    background url(../images/bkg-ungoogleyourlife@2x.jpg) no-repeat
    background-size cover

.introduction-content
  text-align center