<!DOCTYPE html>
<html lang="{{ locale }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cozy Cloud - {{__ metaTitle}}</title>
    <meta name="description" content="{{__ metaDescription }}">
    <meta name="keywords" content="cozy cloud personal data files sync photos caldav carddav privacy secure safe">
    <meta name="msvalidate.01" content="97FB005F258EB1EE998DE1CA324400D6" />
    <meta name="p:domain_verify" content="4be0382def9e8d830838f1cfac026a07"/>
    <link rel="apple-touch-icon" href="{{ pathTo }}/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="{{ pathTo }}/images/favicon.png">

    <meta property="og:title" content="Cozy Cloud - {{__ metaTitle }}">
    <meta property="og:description" content="{{__ metaDescription }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="fr_FR" />
    <meta property="og:image" content="{{ pathTo }}/images/logo-cozy-cloud.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://twitter.com/cozycloud/">
    <meta name="twitter:title" content="Cozy Cloud - {{__ metaTitle }}">
    <meta name="twitter:description" content="{{__ metaDescription }}">
    <meta name="twitter:image" content="{{ pathTo }}/images/logo-cozy-cloud.jpg">

    <link rel="stylesheet" href="{{ pathTo }}/{{ fingerprint.[styles/main.css] }}" media="all">
    {{#if carousel}}
    <link rel="stylesheet" href="{{ pathTo }}/styles/plugins/slick.css">
    <link rel="stylesheet" href="{{ pathTo }}/styles/plugins/slick-theme.css">
    {{/if}}

    <!-- Load Cookiebot consent form
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="40e51e4f-2c7f-4aaf-b6dc-2c3ab2b2366c" type="text/javascript" async></script>
    -->

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      _paq.push(['HeatmapSessionRecording::disable']);
      (function() {
        var u="https://matomo.cozycloud.cc/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>

  <body class="{{#if homepage}}is-homepage{{/if}} {{#if fullHeightIntroduction}}is-introductionFullHeight{{/if}} {{#if annexe}}is-annexe{{/if}}">
    {{{ contents }}}

    <script src="{{ pathTo }}/js/plugins/bodyScrollLock.min.js"></script>
    <script src="{{ pathTo }}/js/main.min.js"></script>
    {{#if carousel}}
    <script src="{{ pathTo }}/js/plugins/slick.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').slick({
          adaptiveHeight: true,
          dots: true,
          slidesToShow: 2,
          slidesToScroll: 2,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                arrows: false,
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
        $('.catchphrase').slick({
          vertical: true,
          dots: false,
          arrows: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000
        });
      });
    </script>
    {{/if}}
    <script>
      $(document).ready(function(){
        var windowHeight   = $(window).outerHeight()
            el             = $('.siteNavigation-ctaContainer');

        $(window).scroll(function() {
          if($(window).scrollTop() > windowHeight) {
            el.addClass('scrolled')
          } else {
            el.removeClass('scrolled')
          }
        })
      });
    </script>

    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Cozy Cloud",
  "alternateName" : "Cozy",
  "url" : "https://cozy.io",
  "logo": "https://cozy.io/en/images/logo-cozy-cloud.jpg",
  "sameAs" : [
    "http://www.facebook.com/mycozycloud",
    "https://framapiaf.org/@CozyCloud",
    "http://www.twitter.com/mycozycloud"
  ]
}
    </script>

  </body>
</html>
