<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cozy - {{__ metaTitle}}</title>
    <meta name="description" content="{{__ metaDescription }}">
    <meta name="keywords" content="cozy cloud personal data files sync caldav carddav privacy secure safe">
    <meta name="google-site-verification" content="T9VeKJk5ZT9sKXSzKd9fK3-0eWLuETw0WtUZ3EFtjqs" />
    <meta name="msvalidate.01" content="97FB005F258EB1EE998DE1CA324400D6" />
    <meta name="p:domain_verify" content="4be0382def9e8d830838f1cfac026a07"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="{{ pathTo }}/images/favicon.png">

    <meta property="og:title" content="Cozy - {{__ metaTitle }}">
    <meta property="og:description" content="{{__ metaDescription }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="fr_FR" />
    <meta property="og:image" content="https://cozy.io/en/images/logo-cozy.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://twitter.com/mycozycloud/">
    <meta name="twitter:title" content="Cozy - {{__ metaTitle }}">
    <meta name="twitter:description" content="{{__ metaDescription }}">
    <meta name="twitter:image" content="https://cozy.io/en/images/logo-cozy.png">

    <link rel="stylesheet" href="{{ pathTo }}/{{ fingerprint.[styles/main.css] }}" media="all">
  </head>

  <body class="{{#if homepage}}is-homepage{{/if}} {{#if fullHeightIntroduction}}is-introductionFullHeight{{/if}} {{#if annexe}}is-annexe{{/if}}">
    {{{ contents }}}

    <script src="{{ pathTo }}/js/main.min.js"></script>
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="//piwik.cozycloud.cc/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 3]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript>
      <p><img src="https://piwik.cozycloud.cc/piwik.php?idsite=3" style="border:0" alt=""></p>
    </noscript>

    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Cozy",
  "alternateName" : "Cozy Cloud",
  "url" : "https://cozy.io",
  "logo": "https://cozy.io/en/images/logo-cozy.png",
  "sameAs" : [
    "http://www.facebook.com/mycozycloud",
    "http://www.twitter.com/mycozycloud"
  ]
}
    </script>

  </body>
</html>
