// Media queries for each breakpoint
//
// Media of at least the minimum breakpoint width.
bp-min($name, $breakpoints = $grid-breakpoints)
  for $bp, $value in breakpoints
    if $name == $bp
      @media (min-width: ($value + 1px))
        {block}

// Media of at most the maximum breakpoint width.
bp-max($name, $breakpoints = $grid-breakpoints)
  for $bp, $value in breakpoints
    if $name == $bp
      @media (max-width: $value)
        {block}

// Media of at most the maximum breakpoint width.
bp-max-height($name, $breakpoints = $grid-breakpoints)
  for $bp, $value in breakpoints
    if $name == $bp
      @media (max-height: $value)
        {block}
