// Button sizes
//

button-size($pdg-y, $pdg-x, $font-size, $line-height, $border-radius)
  padding: $pdg-y $pdg-x
  font-size: $font-size
  line-height: $line-height
  border-radius: $border-radius


// Button variants
//

button-colors($clr, $bkg, $border)
  color: $clr
  background-color: $bkg
  border-color: $border
  transition: $transition-property $transition-duration $transition-easing
  +hover-state()
    color: $clr
    background-color: darken($bkg, 10%)