// Drop caps
//
dropcaps($font-family, $font-size, $color)
  p:first-child:first-letter
    float left
    padding 4px 12px 0 0
    font-family $font-family
    font-size $font-size
    font-weight $fw-bold
    line-height $font-size
    color $color