// Grid framework
//
grid-cell-classes-generator(cols = $grid-columns, g = $grid-gutter, cellClass = $grid-cell-classname)
  for key, value in breakpoints
    @media screen and (min-width: rem-calc(value))
      for i in range(1, cols, 1)
        .{cellClass}-{key}-{i}
          cell(i, cols, g)
        .{cellClass}-offset-{key}-{i}
          cell-offset(i, cols, g)

grid-classes-generator(cols = $grid-columns, g = $grid-gutter, gridClass = $grid-row-classname, cellClass = $grid-cell-classname)
  for key, value in breakpoints
    @media screen and (min-width: rem-calc(value))
      for i in range(1, cols, 1)
        .{gridClass}-{key}-{i} > [class~={cellClass}]
          cell(i, cols, g)


// Grid utilities
//
grid(direction = 'row', cells-align = 'top', justify = '')
  display flex
  flex-wrap wrap
  if cells-align is 'top'
    align-items flex-start
  if cells-align is 'bottom'
    align-items flex-end
  if cells-align is 'center'
    align-items center
  if cells-align is 'stretch'
    align-items stretch
  if direction is 'row'
    flex-direction row
  if direction is 'row-reverse'
    flex-direction row-reverse
  if direction is 'column'
    flex-direction column
  if direction is 'column-reverse'
    flex-direction column-reverse
  if justify is 'center'
    justify-content center
  if justify is 'start'
    justify-content flex-start
  if justify is 'end'
    justify-content flex-end
  if justify is 'space-between'
    justify-content space-between
  if justify is 'space-around'
    justify-content space-around

cell(i = 1, cols = $grid-columns, align = '', g = $grid-gutter)
  flex-basis: s('calc(100% * %s - %s)', i / cols, rem-calc(g))
  min-width 0 // FF adjustment fo rresponsive images
  if g is not 0
    margin: 0 rem-calc(g / 2)
  if align is 'top'
    align-self flex-start
  if align is 'bottom'
    align-self flex-end
  if align is 'center'
    align-self center

cell-offset(i = 1, cols = $grid-columns, g = $grid-gutter)
  margin-left: s('calc(100% * %s + (%s / 2))', i / cols, rem-calc(g)) !important

center(value)
  margin-left auto
  margin-right auto
  width 100%
  u = unit(value)
  if (u is 'rem')
    max-width unit(value, u)
  else
    max-width rem-calc(value)

stack()
  cell(1, 1)